
@font-face {
    font-family: rationalistT;
    src: url(./Rationalist/TT\ Rationalist\ Trial\ Normal.ttf);
}

body {
	margin: 0;
	padding: 0;
}

.logo{
    width: auto;
    height: 40px;
    padding-left: 15px;
}

h1 {
	font-family: rationalistT;
    font-size: 36px;
	margin-top: 0;
}

p {
	font-family: rationalistT
    font-size: 18px;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
    font-size: 20px;
    align-items: center;
}

@font-face {
    font-family: rationalistM;
    src: url(./Rationalist/TT\ Rationalist\ Trial\ Black.ttf);
}

.menu{
    padding-top: 5px;
}

.contactbutton{
    background-color: #d96438;
    font-family: rationalistM;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-left: 40px;
    border: solid;
    border-color: #d96438;
}

.contactbutton:hover{
    background-color: white;
    color: #d96438;
}

a {
	color: #333;
	text-decoration: none;
}

/* Header styles */
header {
	background-color: #f2f2f200;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    font-family: rationalistM;
}

nav ul {
	display: flex;
}

nav li {
	margin-left: 20px;
}

#active {
	color: #d96438;
    background-color: white;
}


/* Main styles */
main {
	padding: 20px;
}

/* Form styles */
form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

label {
	font-weight: bold;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 15px;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    header {
    flex-direction: column;
    align-items: flex-start;
    }
}

